<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">

      {{bus-animation}}
      <h2>{{@student.trip.title}}</h2>
      <small class="subtitle">powered by <a href="https://inphima.de" target="_blank">inphima.de</a></small>

    </div>

    {{#bs-form
      classNames="col-md-9 register-right"
      model=student
      novalidate=true
      onInvalid=(action 'invalid')
      onSubmit=(action 'register')
      as |form|
    }}

      <h3 class="register-heading mt-4 mb-4">Zur Fahrt am {{moment-format @student.trip.departure "DD. MMMM"}} anmelden</h3>

      {{#if hasError}}
        <div class="alert alert-danger fade show">
          <strong>Bei der Anmeldung sind Fehler aufgetreten</strong>

          {{#if errorMessages}}
            <ul>
              {{#each errorMessages as |message|}}
                <li>{{message}}</li>
              {{/each}}
            </ul>

          {{else}}
            <p>
              Ein unbekannter Fehler ist aufgetreten. Bitte versuch es noch einmal oder wende dich
              per E-Mail an <a href="mailto:fscs@hhu.de">fscs@hhu.de</a>.
            </p>
          {{/if}}
        </div>
      {{/if}}

      <div class="row register-form-form mt-2 mb-4">

        <div class="col-md-6">

          {{form.element
            invisibleLabel=true
            placeholder="Vorname"
            property="firstName"
          }}

          {{form.element
            invisibleLabel=true
            placeholder="Nachname"
            property="lastName"
          }}

          {{#form.element
            classNames="input-group mb-3"
            controlType="email"
            invisibleLabel=true
            placeholder="Uni-Mail"
            property="email"
          as |el|
          }}
            {{el.control}}

            <div class="input-group-append">
              <div class="input-group-text">@hhu.de</div>
            </div>
          {{/form.element}}

          {{#form.element
            invisibleLabel=true
            property="dateOfBirth"
          as |el|
          }}
            {{#input-date
              closeOnChange=true
              format="LL"
              onChange=(action (mut el.value))
              placeholder="Geburtsdatum"
              value=el.value
              validationClass=(validation-class el.validation)
            as |datepicker|
            }}
              <button
                class="btn btn-sm btn-link"
                onclick={{action datepicker.close}}
                role="button"
              >
                {{fa-icon "times"}} Schließen
              </button>
            {{/input-date}}
          {{/form.element}}

        </div>

        <div class="col-md-6">

          {{#form.element
            invisibleLabel=true
            property="subject"
          as |el|
          }}
            {{#power-select
              triggerClass=(concat (validation-class el.validation) " form-control")
              options=subjects
              placeholder="Studiengang"
              searchEnabled=false
              selected=el.value
              onchange=(action (mut el.value))
            as |value|
            }}
              {{value}}
            {{/power-select}}
          {{/form.element}}

          {{#form.element
            customError=student.errors.nutrition.firstObject.message
            invisibleLabel=true
            property="nutrition"
          as |el|
          }}
            {{#power-select
              triggerClass=(concat (validation-class el.validation) " form-control")
              options=nutritions
              placeholder="Ernährungsform"
              searchEnabled=false
              selected=student.nutrition
              onchange=(action (mut student.nutrition))
            as |value|
            }}
              {{value}}
            {{/power-select}}
          {{/form.element}}

          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="Anmerkungen und Hinweise wie Lebensmittelunverträglichkeiten oder Ähnliches. Eure Angaben werden vertraulich behandelt."></textarea>
          </div>

        </div>

      </div>

      <div class="is-required">
        Pflichtfeld
      </div>

      <div class="form-group text-right mt-2">
        {{#bs-button
          buttonType="submit"
          classNames="btn-register"
          defaultText=(concat "Für " @student.trip.fee " € all incl. Anmelden")
          disabled=form.isSubmitting
          type="primary"
        }}
          {{#if form.isSubmitting}}
            {{fa-icon "compass" prefix="far" spin=true classNames="toggle-mode"}}
          {{else}}
            {{fa-icon 'bus-alt'}}
          {{/if}}
        {{/bs-button}}
      </div>

    {{/bs-form}}

  </div>

</div>
