<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">

      {{bus-animation}}
      <h2>{{@trip.title}}</h2>
      <small class="subtitle">powered by <a href="https://inphima.de" target="_blank">inphima.de</a></small>

    </div>

    <div class="col-md-9 register-right">

      <h3 class="register-heading mt-4 mb-4">Zur Fahrt anmelden</h3>

      <div class="row register-form-form mt-2 mb-4">

        <div class="col-md-6">

          <div class="form-group required">
            <input type="text" class="form-control" placeholder="Vorname" value="" required
              onchange={{action (mut data.firstName) value="target.value"}}>
          </div>

          <div class="form-group required">
            <input type="text" class="form-control" placeholder="Nachname" value="" required
              onchange={{action (mut data.lastName) value="target.value"}}>
          </div>

          <div class="input-group mb-3 required">
            <input type="email" class="form-control" placeholder="E-Mail-Adresse" value="" required
              onchange={{action (mut data.email) value="target.value"}}>

            <div class="input-group-append">
              <div class="input-group-text">@hhu.de</div>
            </div>
          </div>

          <div class="form-group required">
            {{input-date
              closeOnChange=true
              format="LL"
              onChange=(action (mut data.dateOfBirth))
              placeholder="Geburtsdatum"
              required=true
              value=data.dateOfBirth
            }}
          </div>

        </div>

        <div class="col-md-6">

          <div class="form-group required">
            {{#power-select
              options=subjects
              placeholder="Studiengang"
              required=true
              searchEnabled=false
              selected=data.subject
              onchange=(action (mut data.subject))
            as |value|
            }}
              {{value}}
            {{/power-select}}
          </div>

          <div class="form-group required">
            {{#power-select
              options=nutritions
              placeholder="Ernährungsform"
              required=true
              searchEnabled=false
              selected=data.nutrition
              onchange=(action (mut data.nutrition))
            as |value|
            }}
              {{value}}
            {{/power-select}}
          </div>

          <div class="form-group">
            <textarea class="form-control" rows="4" placeholder="Anmerkungen und Hinweise wie Lebensmittelunverträglichkeiten oder Ähnliches. Eure Angaben werden vertraulich behandelt."></textarea>
          </div>

        </div>

      </div>

      <div class="required">
        Pflichtfeld
      </div>

      <div class="form-group text-right mt-2">
        <button type="submit" role="button" class="btn btn-primary btn-register">
          {{fa-icon 'bus-alt'}} Anmelden
        </button>
      </div>

    </div>

  </div>

</div>
