<span class="editable-value-date">

  {{#input-date
    format=format
    inputClassNames="form-control form-control-sm"
    onChange=(action onChange)
    value=value
  as |datepicker|
  }}

    <button
      class="btn btn-sm btn-primary"
      disabled={{isPending}}
      onclick={{action onReturn}}
      role="button"
    >
      {{#if isPending}}
        {{fa-icon "compass" spin=true prefix="far"}}
      {{else}}
        {{fa-icon "save" prefix="far"}}
      {{/if}}

      Speichern
    </button>

    <button
      class="btn btn-sm btn-secondary"
      disabled={{isPending}}
      onclick={{action onEscape}}
      role="button"
    >
      {{fa-icon "times"}} Schließen
    </button>

  {{/input-date}}

</span>