{{#bs-navbar
  position="fixed-top"
  backgroundColor="mainnav"
  type="light"
as |navbar|
}}
  {{navbar.toggle}}

  {{#link-to "students" classNames="navbar-brand"}}
    Erstifahrt Anmeldung
  {{/link-to}}

  {{#navbar.content}}
    {{#navbar.nav as |nav|}}

      {{#nav.item}}
        {{#nav.link-to "students"}}
          {{fa-icon "clipboard-check"}} Anmeldungen
        {{/nav.link-to}}
      {{/nav.item}}

      {{#nav.item}}
        {{#nav.link-to "trip"}}
          {{fa-icon "bus-alt"}} Aktuelle Fahrt
        {{/nav.link-to}}
      {{/nav.item}}

      {{#nav.item}}
        {{#bs-dropdown as |dd|}}

          {{#dd.toggle classNames="nav-link"}}
            {{fa-icon "clipboard-list"}} Teilnehmerlisten <span class="caret"></span>
          {{/dd.toggle}}

          {{#dd.menu as |ddm|}}

            {{#ddm.item}}
              {{#ddm.link-to "lists" "asta"}}
                {{fa-icon "accessible-icon" prefix="fab"}} Für den AStA
              {{/ddm.link-to}}
            {{/ddm.item}}

            {{#ddm.item}}
              {{#ddm.link-to "lists" "haus"}}
                {{fa-icon "home"}} Für das Haus
              {{/ddm.link-to}}
            {{/ddm.item}}

          {{/dd.menu}}

        {{/bs-dropdown}}
      {{/nav.item}}

    {{/navbar.nav}}
  {{/navbar.content}}

  {{bus-animation}}

  {{#navbar.content classNames="logout"}}
    {{#navbar.nav classNames="ml-auto" as |nav|}}
      {{#nav.item}}
        {{#if session.isAuthenticated}}
          <a role="button" class="nav-link" {{action "invalidateSession"}}>
            {{fa-icon "sign-out-alt"}} Logout
          </a>
        {{else}}
          {{#nav.link-to "login"}}
            {{fa-icon "sign-in-alt"}} Login
          {{/nav.link-to}}
        {{/if}}
      {{/nav.item}}

    {{/navbar.nav}}
  {{/navbar.content}}

{{/bs-navbar}}