<div class="login-form">
  <form {{action "authenticate" on="submit"}}>

    <span class="logo"></span>

    <h1>Log in </h1>

    {{#if errorMessage}}
      <p class="alert alert-danger">{{errorMessage}}</p>
    {{/if}}

    <label>
      {{input placeholder="E-Mail Adresse" value=identification}}
      <span>{{fa-icon "user"}}</span>
    </label>

    <label>
      {{input type="password" placeholder="Passwort" value=password}}
      <span>{{fa-icon "lock"}}</span>
    </label>

    <button type="submit">Login</button>
  </form>
</div>