<div class="students-table table-responsive">

  <table class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-light text-center">
      <tr>
        <th scope="col">
          {{fa-icon "clipboard-check"}}
          {{bs-tooltip title="Status"}}
        </th>
        <th scope="col">Name</th>
        <th scope="col">Geburtstag</th>
        <th scope="col">Alter</th>
        <th scope="col">Fach</th>
        <th scope="col">Rat</th>
        <th scope="col">Anmeldedatum</th>
        <th scope="col">Ernährung</th>
        <th scope="col">Hinweise</th>
        <th scope="col" title="Student hat bezahlt">
          {{fa-icon "money-bill-wave"}}
          {{bs-tooltip title="Student hat bezahlt"}}
        </th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>

      {{#each @students as |student|}}

        <tr class="student-row {{unless student.isActive 'is-inactive'}}">

          <th scope="row" class="text-right">
            {{#if student.isBooked}}
              {{fa-icon "user-check" classNames="text-success"}}
              {{#bs-tooltip}}Angemeldet{{/bs-tooltip}}
            {{else if student.isOnWaitingList}}
              {{fa-icon "user-clock" classNames="text-warning"}}
              {{#bs-tooltip}}Auf der Warteliste{{/bs-tooltip}}
            {{else}}
              {{fa-icon "user-times" classNames="text-danger"}}
              {{#bs-tooltip}}Registriert{{/bs-tooltip}}
            {{/if}}

            {{!-- TODO:
              {{#if student.isCancelled}}
                {{fa-icon "user-lock" classNames="text-danger"}}
              {{/if}}
            --}}
          </th>

          <td>
            {{editable-value
              value=student.fullName
              onSave=(action @update student "fullName")
            }}
          </td>

          <td class="text-right">
            {{#editable-value
              value=student.dateOfBirth
              onSave=(action @update student "dateOfBirth")
            as |editable|
            }}
              {{#if editable.isEditing}}
                {{editable.datepicker}}
              {{else}}
                {{moment-format student.dateOfBirth "L"}}
              {{/if}}
            {{/editable-value}}
          </td>

          <td class="text-right">{{student.age}}</td>

          <td>
            {{#editable-value
              value=student.subject
              onSave=(action @update student "subject")
            as |editable|
            }}
              {{#if editable.isEditing}}
                {{editable.select options=@subjects}}

                {{editable.controls}}
              {{else}}
                {{student.subject}}
              {{/if}}
            {{/editable-value}}
          </td>

          <td>
            {{editable-value
              value=student.councillor
              onSave=(action @update student "councillor")
            }}
          </td>

          <td class="text-right">
            {{moment-format student.registrationDate "DD. MMMM"}}
          </td>

          <td>
            {{#editable-value
              value=student.nutrition
              onSave=(action @update student "nutrition")
            as |editable|
            }}
              {{#if editable.isEditing}}
                {{editable.select options=@nutritions}}

                {{editable.controls}}
              {{else}}
                {{student.nutrition}}
              {{/if}}
            {{/editable-value}}
          </td>

          <td>
            {{editable-value
              value=student.comment
              onSave=(action @update student "comment")
            }}
          </td>

          <td class="text-center">
            {{input-switch
              checked=student.hasPayed
              onchange=(action @update student "hasPayed")
            }}
          </td>

          <td class="text-center">
            {{#bs-dropdown as |dd|}}
              {{#dd.toggle}}
                {{fa-icon "ellipsis-h"}}
              {{/dd.toggle}}

              {{#dd.menu renderInPlace=false as |ddm|}}
                {{#ddm.item}}
                  {{#if student.isBooked}}
                      {{#bs-button
                        classNames="text-warning dropdown-item"
                        type="link"
                        title="Abmelden"
                        onClick=(action @unbook student)
                      as |button|
                      }}
                        {{#if button.isPending}}
                          {{fa-icon "compass" prefix="far" spin=true}}
                        {{else}}
                          {{fa-icon "user-minus"}}
                        {{/if}}

                        Abmelden
                      {{/bs-button}}
                  {{else}}
                    {{#bs-button
                      classNames="dropdown-item"
                      type="link"
                      title=buttonTitle
                      disabled=(not @placesLeft)
                      onClick=(action @book student)
                    as |button|
                    }}
                      {{#if button.isPending}}
                        {{fa-icon "compass" prefix="far" spin=true}}
                      {{else}}
                        {{fa-icon "user-check"}}
                      {{/if}}

                      {{if @placesLeft "Anmelden" "Keine Plätze mehr verfügbar"}}
                    {{/bs-button}}
                  {{/if}}
                {{/ddm.item}}

                {{#if student.isOnWaitingList}}

                  {{#ddm.item}}
                    {{#bs-button
                      classNames="dropdown-item"
                      title=buttonTitle
                      type="link"
                      onClick=(action (action @update student "isOnWaitingList") false)
                    as |button|
                    }}
                      {{#if button.isPending}}
                        {{fa-icon "compass" prefix="far" spin=true}}
                      {{else}}
                        {{fa-icon "user-clock"}}
                      {{/if}}

                      Von der Warteliste runternehmen

                    {{/bs-button}}
                  {{/ddm.item}}

                {{else if (not @placesLeft)}}
                  {{#unless student.isBooked}}
                    {{#ddm.item}}
                      {{#bs-button
                        classNames="dropdown-item"
                        title=buttonTitle
                        type="link"
                        onClick=(action (action @update student "isOnWaitingList") true)
                      as |button|
                      }}
                        {{#if button.isPending}}
                          {{fa-icon "compass" prefix="far" spin=true}}
                        {{else}}
                          {{fa-icon "user-clock"}}
                        {{/if}}

                        Auf Warteliste setzen

                      {{/bs-button}}
                    {{/ddm.item}}
                  {{/unless}}
                {{/if}}

                {{ddm.divider}}

                {{#ddm.item}}
                  {{#bs-button
                    classNames="text-danger dropdown-item"
                    title="Löschen"
                    type="link"
                    disabled=true
                    onClick=(action @delete student) as |button|}}
                    {{#if button.isPending}}
                      {{fa-icon "compass" prefix="far" spin=true}}
                    {{else}}
                      {{fa-icon "trash-alt" prefix="far"}}
                    {{/if}}

                    Löschen
                  {{/bs-button}}
                {{/ddm.item}}
              {{/dd.menu}}
            {{/bs-dropdown}}
          </td>

        </tr>

      {{/each}}

    </tbody>

  </table>

</div>
