<section class="students">
  <h1>{{model.title}}</h1>

  <p>
    Angemeldete Studenten: {{model.bookedStudents.length}}, Freie Plätze: {{model.placesLeft}}, Warteliste: {{model.countWaitingList}}
  </p>

  <button class="btn btn-link" onclick={{action (mut showInactive) false}} disabled={{not showInactive}}>Nur aktive Studenten anzeigen</button>
  <button class="btn btn-link" onclick={{action (mut showInactive) true}} disabled={{showInactive}}>Inaktive Studenten anzeigen</button>

  {{students-table
    students=(if showInactive model.students activeStudents)
    placesLeft=model.placesLeft
    nutritionss=nutritionss
    subjects=subjects
    book=(action "book")
    delete=(action "delete")
    update=(action "update")
    unbook=(action "unbook")
  }}

  {{outlet}}
</section>